## Databases: Introduction

A Database is an organized colletion of data because of its setup makes easier to insert or found data from it.

Exist diferent kinds of databases depending on characteristics of data that we want to store and how we want to store it.   
We can divide the different databases into:  

* **SQL / Relational databases:** relational database as a collection of tables, each with a schema that represents the fixed attributes and data types that the items in the table will have. Provide functionalities for reading, creating, updating, and deleting data, typically by means of Structured Query Language (SQL) statements.
  
    
* **NoSQL / Non-relational databases:** emerged as a popular alternative to relational databases as web applications became increasingly complex. NoSQL/Non-relational databases can take a variety of forms.NoSQL databases can be schema agnostic, allowing unstructured and semi-structured data to be stored and manipulated.   
  
    * **Key-Value Stores (ex.Redis):** extremely simple database management systems that store only key-value pairs and provide basic functionality for retrieving the value associated with a known key.
       
    * **Wide Column Stores (ex.Cassandra):** schema-agnostic systems that enable users to store data in column families or tables, a single row of which can be thought of as a record. It's a multi-dimensional key-value store.
    
    * **Document Stores (ex.MongoDB):** schema-free systems that store data in the form of JSON documents. Document stores are similar to key-value or wide column stores, but the document name is the key and the contents of the document, whatever they are, are the value.
      
    * **Graph Databases (ex.Neo4J):** represent data as a network of related nodes or objects in order to facilitate data visualizations and graph analytics.
      
    * **Search Engines (ex.Elasticsearch):** store data using schema-free JSON documents.They are similar to document stores, but with a greater emphasis on making your unstructured or semi-structured.

<html>
  <img src="https://www.alooma.com/img/cms/moderndb-listforblog.png" height=30>
</html>

In fact, the popularity of non-relational databases is on the rise but relational databases are still the most populars (you can take a took to DBengines ranking: https://db-engines.com/en/ranking)

## Relational Databases Characteristics

Relational databases use a collection of tables to store data (also called relations). 
  
**Table:** is a collection of rows (also called tuples or records)  
* Each row in a table contais a set of columns (also called fields or attributes).  
* Each column has a defined type (string, integer, floating-point, date, etc.)

**Schema:** database defined structure 
* Table name 
* Names and types of each colum
* Additional information

<html>
    <img src="https://www.sqa.org.uk/e-learning/SQLIntro01CD/images/pic003.jpg">
</html>

<html>
    <img src="https://d3n817fwly711g.cloudfront.net/uploads/2012/06/relational-database-model1.png" height=10>
</html>

## SQL Language

Structure Query Language(SQL) is an standard database query language used for storing and managing data in Relational Databases.

SQL was designed to be an english-readable languange used to enter commands on a console and gettings results displayed back to the screen.

Nowadays, SQL is mostly used by programmers who use SQL inside their language to build applications that access data in a database.

SQL operations can de divided in 3 important groups of statements:

* **Data Definition Language (DDL):** define database structure    
  
    * **CREATE:** create a database, define tables, etc.
    * **ALTER:** modify a database structure defined.
    * **DROP:** delete of modify object in the database structure.   
    
    
* **Data Manipulation Language (DML):** introduce data, select and modify data located in the database

    * **SELECT:** queries about data from database
    * **INSERT:** insert values into database
    * **UPDATE:** modify values or registers
    * **DELETE:** delete rows in a table
    
      
* **Data Control Language (DCL):** determine acces to objects defined by database adminitrator  

    * **GRANT:** give acces permissions
    * **REVOKE:** delete acces permissions

To insert SQL command directly to Jupyter notebook an etra library is needed: **pip install ipython-sql**

We are not going to go deep into SQL, just some example to know how it looks like:

In [1]:
%env DATABASE_URL=sqlite:///users.db

env: DATABASE_URL=sqlite:///users.db

In [2]:
!pip install ipython-sql

Requirement already satisfied: ipython-sql in /usr/local/lib/python3.6/dist-packages (0.3.9)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (5.5.0)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.3.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.12.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (1.3.8)
Requirement already satisfied: prettytable in /usr/local/lib/python3.6/dist-packages (from ipython-sql) (0.7.2)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.8.1)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (41.2.0)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.3.2)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (2.1.3)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (1.0.16)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.4.0)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython>=1.0->ipython-sql) (4.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython>=1.0->ipython-sql) (0.1.7)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython>=1.0->ipython-sql) (0.6.0)

In [0]:
%load_ext sql

### Create Table

In [4]:
%%sql
CREATE TABLE Users(
    UserID int NOT NULL,
    LastName varchar(255),
    FirstName varchar(255),
    City varchar(255), 
    PRIMARY KEY (UserID)
);

Done.

[]

### Insert Data

In [5]:
%%sql
INSERT INTO Users (UserID,LastName, FirstName, City)
VALUES (1,'Pujol','Nuria','Barcelona');

 * sqlite:///users.db
1 rows affected.

[]

### Select Data

In [6]:
%%sql
SELECT * FROM Users;

 * sqlite:///users.db
Done.

[(1, 'Pujol', 'Nuria', 'Barcelona')]

In [7]:
%%sql
SELECT City FROM Users;

 * sqlite:///users.db
Done.

[('Barcelona',)]

If you want to learn a lite bit more about SQL I suggest you these tutorials:  
* Intro to SQL for Data Science : https://www.datacamp.com/courses/intro-to-sql-for-data-science
* Learn SQL : https://www.codecademy.com/learn/learn-sql

### Inserting SQL to Python

In [0]:
import sqlite3
conn = sqlite3.connect('example2.db')
 
c = conn.cursor()
c.execute('''
          CREATE TABLE person
          (id INTEGER PRIMARY KEY ASC, name varchar(250) NOT NULL)
          ''')
c.execute('''
          CREATE TABLE address
          (id INTEGER PRIMARY KEY ASC, street_name varchar(250), street_number varchar(250),
           post_code varchar(250) NOT NULL, person_id INTEGER NOT NULL,
           FOREIGN KEY(person_id) REFERENCES person(id))
          ''')
 
c.execute('''
          INSERT INTO person VALUES(1, 'pythoncentral')
          ''')
c.execute('''
          INSERT INTO address VALUES(1, 'python road', '1', '00000', 1)
          ''')
 
conn.commit()
conn.close()

In [12]:
conn = sqlite3.connect('example2.db')
c = conn.cursor()

c.execute('SELECT * FROM person')
print(c.fetchall())
c.execute('SELECT * FROM address')
print(c.fetchall())
conn.close()

[(1, 'pythoncentral')]
[(1, 'python road', '1', '00000', 1)]

Exist differences between SQL language used by different Relational Databases. For this reason we say that SQL have differents dialects.

## SQLAlchemy (Python Library)

SQLAlchemy provides a Pythonic way of interacting with databases avoiding to deal with SQL dialects differences.   
It is an open source and cross-platform software released under MIT license.

The following are the dialects included:

* Firebird
* Microsoft SQL Server
* **MySQL**
* Oracle
* **PostgreSQL**
* SQLite
* Sybase

We can also use SQL queries using SQLAlchemy:

In [13]:
from sqlalchemy import create_engine

engine = create_engine('sqlite:///users.db')

with engine.connect() as con:

    rs = con.execute('SELECT * FROM Users')

    for row in rs:
        print(row)

(1, 'Pujol', 'Nuria', 'Barcelona')

The most powerfull part of this library is **SQLAlchemy-ORM**

ORM (Object Relatinal Mapping) makes possible to convert data between incompatible type systems in object-oriented programming languages (Python, for example). In an ORM system, each class maps to a table in the database.

Can be installed by: **pip install sqlalchemy**

### 1. Schema Definition:

Import al libraries:

In [0]:
from sqlalchemy import create_engine
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

We will use a local SQLite database "engine". We create it that way:

In [0]:
engine = create_engine('sqlite:///films_example1.db')

Define tables (name, columns and types) into a class:

In [0]:
Base = declarative_base()

class Film(Base):
    
    __tablename__ = 'films'
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    year = Column(Integer)
    director = Column(String)
    
    def __repr__(self):
        return "<Film(title='%s', year='%d', director='%s')>" % (self.title, self.year, self.director)

Create all tables in the database: This is equivalent to "Create Table" statement in SQL

In [0]:
Base.metadata.create_all(engine)

This step is equivalent to "Create Table" statement in SQL.  

**At this point we only have an "empty divided box".**

### 2. Adding Data to DB

Import more libraries needed:

In [0]:
from sqlalchemy.orm import sessionmaker

First of all, we have to create a Session related to our database. A Session is needed by ORM to deal between Python classes and the engine that actually communicates with the database:

In [0]:
Session = sessionmaker(bind=engine)
session = Session()

Create a new Film object:

In [0]:
new_film = Film(title='Seven', year=1995, director='David Fincher')

Add it to database (to session, in fact):

In [0]:
session.add(new_film)
session.commit()

We are going to check if this film is really in the database:

In [22]:
session.query(Film).all()

But what happen if a try to do add it again?

In [0]:
new_film2 = Film(title='Seven', year=1995, director='David Fincher')
session.add(new_film2)
session.commit()

In [24]:
session.query(Film).all()

[<Film(title='Seven', year='1995', director='David Fincher')>,
 <Film(title='Seven', year='1995', director='David Fincher')>]

### 2.1 Diferent ways to avoid duplicates:

#### 2.1.1 Using significant primary keys

In [0]:
Base = declarative_base()

class FilmDIBA(Base):
    
    __tablename__ = 'filmsDIBA'
    
    code = Column(String, primary_key=True)#<==== unique code used in Libraries
    title = Column(String)
    year = Column(Integer)
    director = Column(String)
    
    def __repr__(self):
        return "<FilmDIBA(code= '%s',title='%s', year='%d', director='%s')>" % (self.code, self.title, self.year, self.director)

Base.metadata.create_all(engine)

In [0]:
new_film = FilmDIBA(code = 'DVD Sev',title='Seven', year=1995, director='David Fincher')
session.add(new_film)
session.commit()

We get an error if we try to do it twice:

In [27]:
new_film2 = FilmDIBA(code = 'DVD Sev',title='Seven', year=1995, director='David Fincher')
session.add(new_film2)
session.commit()

FlushError: ignored

We have to check errors, detect it and rollback in database modification before to commit. We will see more usage examples later.

In [0]:
session.rollback()

#### 2.1.2 Defining some parameters as "unique"

In [0]:
class FilmUnique(Base):
    
    __tablename__ = 'filmsUnique'
    
    id = Column(Integer, primary_key=True)
    title = Column(String, unique = True)
    year = Column(Integer)
    director = Column(String(30))
    
    def __repr__(self):
        return "<FilmUnique(title='%s', year='%d', director='%s')>" % (self.title, self.year, self.director)

In [0]:
Base.metadata.create_all(engine)

In [0]:
new_film = FilmUnique(title='Seven', year=1995, director='David Fincher')
session.add(new_film)
session.commit()

In [32]:
new_film2 = FilmUnique(title='Seven', year=1995, director='David Fincher')
session.add(new_film2)
session.commit()

IntegrityError: ignored

But what happen if Seven director try to make a remake of its film?

In [33]:
new_film3 = FilmUnique(title='Seven', year=2007, director='David Fincher')
session.add(new_film3)
session.commit()

InvalidRequestError: ignored

We get the same error!!!

In [34]:
session.rollback()

/usr/local/lib/python3.6/dist-packages/sqlalchemy/orm/session.py:552: SAWarning: Session's state has been changed on a non-active transaction - this state will be discarded.
  "Session's state has been changed on "

#### 2.1.3 Defining our rules

In [35]:
session.query(Film).filter(Film.title == 'Seven').all()

[<Film(title='Seven', year='1995', director='David Fincher')>,
 <Film(title='Seven', year='1995', director='David Fincher')>]

In [36]:
session.query(Film).filter(Film.title == 'Seven').first()

In [37]:
session.query(Film).filter(Film.title == 'Seven').count()

2

In [38]:
from sqlalchemy import exists

session.query(exists().where(Film.title == 'Seven')).scalar()

True

In [39]:
session.query(exists().where(Film.title == "Seven").where(Film.year == 1995)).scalar()

True

In [40]:
if not session.query(exists().where(Film.title == "Seven").where(Film.year == 1995)).scalar():
    new_film = Film(title='Seven', year=1995, director='David Fincher')
    session.add(new_film)
    session.commit()

else:
    print("You are trying to add information that already is in your database")

You are trying to add information that already is in your database

In [0]:
session.close()

### 2.2 Adding multiple rows

In [0]:
from sqlalchemy import Column, Integer, String, Float

Base = declarative_base()

class Student(Base):
    
    __tablename__ = 'students'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    surname = Column(String)
    age = Column(Integer)
    avg_mark = Column(Float)
    group_code = Column(String)

    
    def __repr__(self):
        return "<Student(name= '%s',surname='%s', age='%d', avg_mark='%f',group_code='%s')>" % (self.name, self.surname, self.age, self.avg_mark,self.group_code)
    
Base.metadata.create_all(engine)

In [0]:
objects = [Student(name="Maria",surname="Garcia", age=18, avg_mark=7.89, group_code = '2D2019'), 
           Student(name="Carla",surname="Garcia", age=23, avg_mark=6.25, group_code = '2D2019'),
           Student(name="Carlos",surname="Martinez", age=22, avg_mark=5.80, group_code = '2D2019'),
           Student(name="Marcos",surname="Perez", age=19, avg_mark=6.50, group_code = '2D2019'),
           Student(name="Pablo",surname="Hernandez", age=21, avg_mark=6.85, group_code = '2D2019'),
           Student(name="Victor",surname="Sola", age=18, avg_mark=7.25, group_code = '2D2019'),
           Student(name="Maria",surname="Perez", age=18, avg_mark=7.10, group_code = '1D2019'),
           Student(name="Martina",surname="Galo", age=19, avg_mark=6.75, group_code = '1D2019'),
           Student(name="Pedro",surname="Marmol", age=21, avg_mark=5.80, group_code = '1D2019'),
           Student(name="Pablo",surname="Mena", age=20, avg_mark=7.00, group_code = '1D2019'),
           Student(name="Vanesa",surname="Escalera", age=19, avg_mark=8.20, group_code = '1D2019')
          ]

Session = sessionmaker(bind=engine)
session = Session()

session.add_all(objects)

session.commit()

### 3.Geting information from database

In [44]:
session.query(Student.name, Student.surname,Student.avg_mark).all()

[('Maria', 'Garcia', 7.89),
 ('Carla', 'Garcia', 6.25),
 ('Carlos', 'Martinez', 5.8),
 ('Marcos', 'Perez', 6.5),
 ('Pablo', 'Hernandez', 6.85),
 ('Victor', 'Sola', 7.25),
 ('Maria', 'Perez', 7.1),
 ('Martina', 'Galo', 6.75),
 ('Pedro', 'Marmol', 5.8),
 ('Pablo', 'Mena', 7.0),
 ('Vanesa', 'Escalera', 8.2)]

### 3.1 Order_by (ascending by default)

In [45]:
session.query(Student).order_by(Student.avg_mark).all()

[<Student(name= 'Carlos',surname='Martinez', age='22', avg_mark='5.800000',group_code='2D2019')>,
 <Student(name= 'Pedro',surname='Marmol', age='21', avg_mark='5.800000',group_code='1D2019')>,
 <Student(name= 'Carla',surname='Garcia', age='23', avg_mark='6.250000',group_code='2D2019')>,
 <Student(name= 'Marcos',surname='Perez', age='19', avg_mark='6.500000',group_code='2D2019')>,
 <Student(name= 'Martina',surname='Galo', age='19', avg_mark='6.750000',group_code='1D2019')>,
 <Student(name= 'Pablo',surname='Hernandez', age='21', avg_mark='6.850000',group_code='2D2019')>,
 <Student(name= 'Pablo',surname='Mena', age='20', avg_mark='7.000000',group_code='1D2019')>,
 <Student(name= 'Maria',surname='Perez', age='18', avg_mark='7.100000',group_code='1D2019')>,
 <Student(name= 'Victor',surname='Sola', age='18', avg_mark='7.250000',group_code='2D2019')>,
 <Student(name= 'Maria',surname='Garcia', age='18', avg_mark='7.890000',group_code='2D2019')>,
 <Student(name= 'Vanesa',surname='Escalera', age='19', avg_mark='8.200000',group_code='1D2019')>]

In [46]:
session.query(Student).order_by(Student.avg_mark.desc()).all()

[<Student(name= 'Vanesa',surname='Escalera', age='19', avg_mark='8.200000',group_code='1D2019')>,
 <Student(name= 'Maria',surname='Garcia', age='18', avg_mark='7.890000',group_code='2D2019')>,
 <Student(name= 'Victor',surname='Sola', age='18', avg_mark='7.250000',group_code='2D2019')>,
 <Student(name= 'Maria',surname='Perez', age='18', avg_mark='7.100000',group_code='1D2019')>,
 <Student(name= 'Pablo',surname='Mena', age='20', avg_mark='7.000000',group_code='1D2019')>,
 <Student(name= 'Pablo',surname='Hernandez', age='21', avg_mark='6.850000',group_code='2D2019')>,
 <Student(name= 'Martina',surname='Galo', age='19', avg_mark='6.750000',group_code='1D2019')>,
 <Student(name= 'Marcos',surname='Perez', age='19', avg_mark='6.500000',group_code='2D2019')>,
 <Student(name= 'Carla',surname='Garcia', age='23', avg_mark='6.250000',group_code='2D2019')>,
 <Student(name= 'Carlos',surname='Martinez', age='22', avg_mark='5.800000',group_code='2D2019')>,
 <Student(name= 'Pedro',surname='Marmol', age='21', avg_mark='5.800000',group_code='1D2019')>]

In [47]:
session.query(Student).order_by(Student.avg_mark.desc())[:3]

[<Student(name= 'Vanesa',surname='Escalera', age='19', avg_mark='8.200000',group_code='1D2019')>,
 <Student(name= 'Maria',surname='Garcia', age='18', avg_mark='7.890000',group_code='2D2019')>,
 <Student(name= 'Victor',surname='Sola', age='18', avg_mark='7.250000',group_code='2D2019')>]

### 3.2 Filter by

In [48]:
session.query(Student.name,Student.surname,Student.group_code).filter_by(group_code='1D2019').all()

[('Maria', 'Perez', '1D2019'),
 ('Martina', 'Galo', '1D2019'),
 ('Pedro', 'Marmol', '1D2019'),
 ('Pablo', 'Mena', '1D2019'),
 ('Vanesa', 'Escalera', '1D2019')]

In [49]:
session.query(Student).filter_by(age=20).all()

We also can concatenate filters:

In [50]:
session.query(Student).filter_by(surname='Garcia').filter_by(group_code='2D2019').all()

[<Student(name= 'Maria',surname='Garcia', age='18', avg_mark='7.890000',group_code='2D2019')>,
 <Student(name= 'Carla',surname='Garcia', age='23', avg_mark='6.250000',group_code='2D2019')>]

### 3.3 Filter

In [51]:
session.query(Student).filter(Student.avg_mark>=7).filter_by(group_code='2D2019').all()

[<Student(name= 'Maria',surname='Garcia', age='18', avg_mark='7.890000',group_code='2D2019')>,
 <Student(name= 'Victor',surname='Sola', age='18', avg_mark='7.250000',group_code='2D2019')>]

### 3.4 Group by + func

In [52]:
from sqlalchemy import func

session.query(Student.group_code,func.avg(Student.avg_mark)).group_by(Student.group_code).all()

[('1D2019', 6.969999999999999), ('2D2019', 6.756666666666667)]

### PRACTICE TIME!!!

### 4. Relations between Tables

In [0]:
engine = create_engine('sqlite:///films.db')

In this case we want to link film with its main actors and we have to configure a ONE-TO-MANY relationship. Look at this code example about the new database schema:

In [0]:
from sqlalchemy import ForeignKey
from sqlalchemy.orm import relationship

Base = declarative_base()

class Director(Base):
        
    __tablename__ = 'director'
    
    id = Column(Integer, primary_key=True)
    name = Column(String)
    birth_year = Column(Integer)
    country = Column(String)
    films = relationship("Film")
    
    def __repr__(self):
        return "<Director(name='%s', birth_year='%d', country='%s')>" % (self.name, self.birth_year, self.country)

class Film(Base):
    
    __tablename__ = 'film'
    
    id = Column(Integer, primary_key=True)
    title = Column(String)
    year = Column(Integer)
    director_id = Column(Integer,ForeignKey('director.id'))
    
    def __repr__(self):
        return "<Film(title='%s', year='%d')>" % (self.title, self.year)

In [0]:
Base.metadata.create_all(engine)

To get more information about how to configure different relations between tables take a look to official documentation: https://docs.sqlalchemy.org/en/13/orm/relationships.html

In [0]:
#create directors
director1 = Director(name = 'David Fincher', birth_year = 1956, country = 'Israel')
director2 = Director(name = 'Steven Spielberg', birth_year = 1946, country = 'USA')

#create movies
film1 = Film(title='Seven', year=1995) #-> Fincher
film2 = Film(title='Jaws', year=1975) #-> Spielberg
film3 = Film(title='Jurassic Park', year=1993) #-> Spielberg

#create Session
Session = sessionmaker(bind=engine)
session = Session()

#add movies to directors
director1.films = [film1]
director2.films = [film2]

director2.films.append(film3)

#persist data
session.add(director1)
session.add(director2)

#commit and close session
session.commit()
session.close()

#### 4.1 Queries examples with JOIN

In [0]:
Session = sessionmaker(bind=engine)
session = Session()

In [58]:
session.query(Film).filter(Film.year > 1990).all()

[<Film(title='Seven', year='1995')>,
 <Film(title='Jurassic Park', year='1993')>]

In [59]:
session.query(Film).join(Director).filter(Director.name == 'Steven Spielberg').all()

You can get more examples and information about SQLAlchemy at:  
* https://www.pythonsheets.com/notes/python-sqlalchemy.html  
* https://docs.sqlalchemy.org/en/13/ (or choose your version)

# EXERCISE !!!

We have a .csv file with this information that we want to store in a database. Design the schema and try to add all information on it.

In [70]:
%%writefile activities.csv
DNI,Name,Surname,Activity,Day,Room
478906F,Gloria,Garcia,Pilates,Monday,R3
678904D,Carlos,Mena,Spinning,Friday,R10
234509S,Marta,Vila,Yoga,Tuesday,R5
689502A,Miquel,Santos,Pilates,Monday,R3

Writing activities.csv

In [71]:
import pandas as pd

data = pd.read_csv('activities.csv')
data.head()

       DNI    Name Surname  Activity      Day Room
0  478906F  Gloria  Garcia   Pilates   Monday   R3
1  678904D  Carlos    Mena  Spinning   Friday  R10
2  234509S   Marta    Vila      Yoga  Tuesday   R5
3  689502A  Miquel  Santos   Pilates   Monday   R3

In [72]:
file = open('activities.csv','r') 
lines = file.readlines()
lines

['DNI,Name,Surname,Activity,Day,Room\n',
 '478906F,Gloria,Garcia,Pilates,Monday,R3\n',
 '678904D,Carlos,Mena,Spinning,Friday,R10\n',
 '234509S,Marta,Vila,Yoga,Tuesday,R5\n',
 '689502A,Miquel,Santos,Pilates,Monday,R3']

In [73]:
for line in lines[1:]:
    dni,name,surname,activity,day,room = line.rstrip().split(',')
    print(dni,name,surname,activity,day,room)

478906F Gloria Garcia Pilates Monday R3
678904D Carlos Mena Spinning Friday R10
234509S Marta Vila Yoga Tuesday R5
689502A Miquel Santos Pilates Monday R3